
#no_cart_item{
    text-align: center;
}

.heading-class {
    color: #3c371d;
    font: bold 15px arial;
    width: 100%;
    margin: 0px;
    padding: 10px 6px;
    background: #f9f9f9;
}
.form-methods{
    background: #f9f9f9;
    border-radius: 5px;
}


@media only screen and (min-width: 991px) {

.table-cart td{
    vertical-align: middle;
}
.container-cart {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.quatity{
	margin-top:5px;
	padding:0;border: 1px solid #3c371d;
	border-radius: 5px;
	display: inline-block;
    float: left;
}

.quatity button {
	background: transparent;
	border:none;color: #5b5534;
	margin: 0;
	width: 45px;
	height: 35px;
	text-align: center;
}
.quatity button:hover{
	cursor:pointer
}
.quatity span {
	padding:10px 18px
}
.quatity button:hover, button:focus {
  margin: auto;  
  text-align: center;
  background-color: rgb(249 149 25);
}

.quatity_price{
    float: left;
    height: 35px;
    text-align: center;
    margin-top: 8px;
}

.quatity_detail{
    margin-top:5px;
    padding:0;border: 1px solid #3c371d;
    border-radius: 5px;
    display: inline-block;
}

.quatity_detail button {
    background: transparent;
    border:none;color: #5b5534;
    margin: 0;
    width: 45px;
    height: 35px;
    text-align: center;
}
.quatity_detail button:hover{
    cursor:pointer
}
.quatity_detail span {
    padding:10px 18px
}
.quatity_detail button:hover, button:focus {
  margin: auto;  
  text-align: center;
  background-color: rgb(249 149 25);
}


.modal-top {
    top: 0;
}
.modal-content {
    border: 0;
    border-radius: 0.125rem;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}
.justify-content-center {
   /* justify-content: center !important;*/
}

.modal .modal-frame {
    position: absolute;
    width: 100%;
    max-width: 100% !important;
    margin: 0 !important;
}

.cart-img{
    width: 100px;
    height: 100px;
}

}

/*991*/

@media only screen and (max-width: 990px) {

.table-cart td{
    vertical-align: middle;
}
.container-cart {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.quatity{
    margin-top:5px;
    padding:0;border: 1px solid #3c371d;
    border-radius: 5px;
    display: inline-block;
    float: left;
}

.quatity button {
    background: transparent;
    border:none;color: #5b5534;
    margin: 0;
    width: 35px;
    height: 30px;
    text-align: center;
}
.quatity button:hover{
    cursor:pointer
}
.quatity span {
    padding:10px;
}
.quatity button:hover, button:focus {
  margin: auto;  
  text-align: center;
  background-color: rgb(249 149 25);
}

.quatity_price{
    float: left;
    height: 35px;
    text-align: center;
    margin-top: 8px;
}


.modal-top {
    top: 0;
}
.modal-content {
    border: 0;
    border-radius: 0.125rem;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}
.justify-content-center {
   /* justify-content: center !important;*/
}

.modal .modal-frame {
    position: absolute;
    width: 100%;
    max-width: 100% !important;
    margin: 0 !important;
}

.cart-img{
    width: 70px;
    height: 70px;
}

}